# For Latex Files
*.aux
*.log
*.out
*.swp

# IPython Notebook
**/.ipynb_checkpoints/
*.pyc

# dlib repo
dlib/

*.DS_Store

# large data files
fer2013/train.csv
fer2013/test1.csv
fer2013/test2.csv
fer2013/fer2013.csv
